@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Ubuntu:wght@300;400&display=swap');

body{
    font-family: "Montserrat";
}

#title{
    background-color: #ff4c68;
    color: #fff;
}
 
h1{
    font-family: "Montserrat-Black", sans-serif;
    font-weight: bold;
    color: #fff ;
    font-size: 2.5rem;
    line-height: 1.5;
}

h2{
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: 900;
}

h3{
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}
  
.container-fluid{
    padding: 3% 15%;
}
.navbar-brand {
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 2.5rem;
}

.nav-item{
    padding: 15px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}
.navbar{
    padding: 0 0 4.5rem;
}

/* Download Buttons */
.btn{
    margin: 3% 2% 3% 0;  
}

/* Title Images */
.title-image {
    width: 80%;
    z-index: -1;
    position: absolute;
}
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: absolute;
    z-index: 1;
}
.phone-img{
    position: absolute;
    top: 0px;
    transform: rotate(20deg );
    width: 50%;
    
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #ef8172 ; 
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68 ;
}

/* Testimonial */
#testimonials{
    padding: 7% 15%  ;
    text-align: center;
    background-color: #ef8172;  
    color: #fff;   
}
.testimonial-image{
    width: 10% ;
    border-radius: 100% ;
    margin: 10%   ;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3% ;
}
.press-img{
    width: 15%;
    margin: 20px 20px 50px;

}
 /* Pricing */

 #pricing{
    padding: 100px;
 }  
 .pricing-column{
    padding: 3% 2%;
    text-align: center;
 }

/* Footer section */
    #footer{
        padding: 7% 15%;
        text-align: center;
    }
 .social-icons{
        margin: 20px 10px;
       size: 50px;
    }




 @media (max-width: 700px) {
   
    .phone-image{
         position: static;
         width: 50%;
         height: 50%;
         transform: rotate(0);

    }
 }

 #cta{
    background-color: #ff4c68;
    color: white;
    padding: 7% 15%;
    text-align: center;
   
    
 }
 .cta-heading{
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    line-height: 1.5;
 }